<% provide(:title, 'Groups') %>
<%= link_to "Back", root_path %>
<%= link_to "Create group", new_group_path, id: "create-group-link" %>
<h1>Groups:</h1>
<div class="row">
  <% @groups.each do |group| %>
  <div class="row group-container">
    <div class="small-4 columns image-space">
      <%= image_tag group.group_pic_url, id: "group-pic" %>
    </div>
    <div class="small-8 columns text-space">
      <p class="group-name">
        <%= link_to group.name, group_path(group) %>
        (<%= group.words.count %>)
      </p>
        <br>
      <p class="group-description">
        <%= group.description %>
      </p>
    </div>
  </div>
  <% end %>
</div>
