<% provide(:title, 'Groups') %>
<div class='groupHeader'>
<h1>Groups</h1>
<%= link_to "", new_group_path, class: 'btn btn-lg btn-default fa fa-plus' %>
</div>
<div class="fluid-container">
  <% @groups.each do |group| %>
  <div class="row group-container">
    <div class="col-xs-12 col-md-5 image-space">
      <div class="image-container">
        <% unless group.group_pic_url.nil? %>
          <%= image_tag group.group_pic_url, id: "group-pic" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-7 text-space">
      <h3>
        <%= link_to group.name, group_path(group) %>
        <span class="badge"><%= group.words.count %></span>
      </h3>
      <span class="label label-info">
        <% unless current_user.subscriptions.where(group_id: group.id).blank? %>
          Following |
          <small>
            <%= link_to "Unfollow", group_subscription_path(group_id: group.id, id: current_user.subscriptions.where(group_id: group.id).first), method: :delete, class: "subscription-link" %>
          </small>
        <% else %>
          <%= link_to "Follow", group_subscriptions_path(group_id: group.id), method: :post, class: "subscription-link" %>
        <% end %>
      </span>
        <br>
        <br>
      <p class="group-description">
        <%= group.description %>
      </p>
    </div>
  </div>
  <% end %>
</div>
