<h1>New group</h1>
<%= render 'shared/error_messages' %>
<%= form_for(@group) do |f| %>
  <div class='loginForm'>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    <br>
    <%= f.label :group_pic, "Group Picture" %>
    <%= f.file_field :group_pic %>
    <br>
    <%= f.submit 'Create group', class: "btn btn-lg btn-default userButton" %>
  </div>
<% end %>
<br>
