<% provide(:title, @group.name) %>
<%= render 'shared/error_messages' %>
<div class="flash-message"></div>
<%= link_to "Back to Groups", groups_path %>
<%# if flash.present? %>
  <%# flash.each do |msg| %>
    <!-- <ul>
      <li><%#= msg %></li>
    </ul> -->
  <%# end %>
<%# end %>
<h3>
  <%= @group.name %>
</h3>
<%= @group.description %>
<br>


<div id="word-form">
  <%= form_for([@group, Word.new], remote: true) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :definition %>
    <%= f.text_area :definition %>
    <%= f.submit 'Create', class: "btn btn-large btn-primary"%>
  <% end %>
</div>


<!-- Meme form for API GET request -->

<div id="meme-form">
  <%= form_for(@meme) do |f| %>
    <%= f.label :image %>
    <%= f.text_field :image %>
    <%= f.label :top %>
    <%= f.text_field :top %>
    <%= f.label :bottom %>
    <%= f.text_field :bottom %>
    <%= f.submit 'Save meme' %>
  <% end %>
</div>


<div id="meme-container"></div>


<div id="word-container">
    <%= render @words %>
</div>





