<% provide(:title, @group.name) %>
<div class="flash-message"></div>
<%= link_to "Back to Groups", groups_path %>
<h3>
  <%= @group.name %>
</h3>
<%= @group.description %>
<br>

<div id="word-form">
  <%= form_for([@group, Word.new], remote: true) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :definition %><br>
    <%= f.text_area :definition %>
    <%= f.submit 'Create', class: "btn btn-large btn-primary"%>
  <% end %>
</div>

<div id="word-container">
    <%= render @words %>
</div>

<%= debug(params) if Rails.env.development? %>



