<% provide(:title, @group.name) %>
<div class="flash-message"></div>
<%= link_to "Back to Groups", groups_path %>

  <h3>
    <%= @group.name %>
  </h3>
    <%= @group.description %>
  <br>

<div class="main-form">
  <div id="word-form">
    <%= render 'main_form' %>
  </div>
</div>

<div id="word-container">
  <%= render 'word' %>
    <%#= render @words %>
</div>







