<% provide(:title, @group.name) %>
<div class="flash-message"></div>
<%= link_to "Back to Groups", groups_path %>

<h3>
  <%= @group.name %>
</h3>
<%= @group.description %>
<br>

<div id="word-form">
  <%= form_for([@group, Word.new], remote: true) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :definition %>
    <%= f.text_area :definition %>

    <%= fields_for(@meme) do |fa| %>
      <%= fa.label :image %>
      <%= fa.collection_select(:image,@response.body,:to_s,:to_s) %>
      <%= fa.label :top %>
      <%= fa.text_field :top %>
      <%= fa.label :bottom %>
      <%= fa.text_field :bottom %>
    <% end %>
    <%= f.submit 'Create', class: "btn btn-large btn-primary"%>
  <% end %>
</div>

<div id="word-container">
  <% @words.each do |word| %>
  <h5>
    <%= word.name %>
  </h5>
  <h5>Def</h5>
    <%= word.definition %>
  <br>
  <h5>Example</h5>
    <% word.memes.each do |meme| %>
      <%= meme.image %>
    <% end %>
  <% end %>
    <%#= render @words %>
</div>

<%= image_tag url_for(:controller => "memes", :action => "show", :id => @meme.id) %>





