<% provide(:title, @group.name) %>
<div class="flash-message"></div>
<%= link_to "Back", groups_path %>

<h2>
  <%= @group.name %>
</h2>
<h4>
  <blockquote><%= @group.description %>
</h4>

<br>

<div id="word-form">
  <%= render 'main_form' %>
</div>

<div class="fluid-container">
  <div class="row">
    <%= render 'word' %>
  </div>
</div>

<script type="text/javascript">
  $('.word-instance').on('click', '.add-meme-link', function() { alert($(this).data('word_id')) });
</script>

