<% provide(:title, @group.name) %>
<div class="flash-message"></div>
<%= link_to "Back to Groups", groups_path %>

  <h3>
    <%= @group.name %>
  </h3>
    <%= @group.description %>
  <br>

<div id="word-form">
  <%= render 'main_form' %>
</div>

<div id="word-container">
  <%= render 'word' %>
</div>

<script type="text/javascript">
  $('.word-instance').first().children('.add-meme-link').data('wordid');
  $('.word-instance').on('click', '.add-meme-link', function() { alert($(this).data('wordid')) });
</script>

