<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Slab:400,700|Open+Sans:400,700', :media => "all" %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="main-container">
    <% if flash.present? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
